body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

.dashboard {
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

/* Progress Bar Styling */

.progress-container {
    width: 100%;
    height: 25px;
    background-color: #0f172a;
    /* darker contrast */
    border-radius: 12px;
    margin: 15px 0;
    overflow: hidden;
    border: 1px solid #1e293b;
}

.progress-bar {
    height: 100%;
    width: 0%;
    /* default */
    background: linear-gradient(90deg, #3b82f6, #2563eb);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.6s ease-in-out;
}

.progress-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.chart-container {
    width: 420px;
    height: 350px;
    margin: 30px auto;
    position: relative;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}